venv
static/images/*
static/build/*
static/.webassets-cache/*
config.py
*.pyc
*.swp

!static/images/failed_to_load.jpeg

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore
