#app {
    margin-top: 67px;
}

#current-image {
}

#current-image-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

#fossil-finder {
    overflow: hidden;
}

.tag {
    border: 1px solid white;
    position: absolute;
}
