<!doctype html>
<html>
    <head>
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.4-dist/css/bootstrap.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">UCMP Fossil Finder</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              {% if current_user %}
              <ul class="nav navbar-nav navbar-right">
                  {% if current_user.group_name and use_group %}
                  <li><a href="#">{{current_user.group_name}}</a></li>
                  {% else %}
                  <li><a href="#">{{current_user.email}}</a></li>
                  {%  endif %}
                  <li><a target="_self" href="/logout">logout</a></li>
                  {% if current_user.auth_level == 3 and not use_group %}
                  <li><a target="_self" href="/admin">admin</a></li>
                  {% endif %}
              </ul>
              {% else %}
              <ul class="nav navbar-nav navbar-right">
                  <li><a target="_self" href="/signup">Signup</a></li>
                  <li><a target="_self" href="/reset_password">Reset Password</a></li>
              </ul>
              <form class="navbar-form navbar-right" action="/login" method="POST">
                <div class="form-group">
                  <input type="text" name="group_code" placeholder="Enter Code" class="form-control">
                </div>
                <div class="form-group">
                    <span class="navbar-text">OR</span>
                </div>
                <div class="form-group">
                  <input name="email" type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input name="password" type="password" placeholder="Password" class="form-control">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-success">Sign in</button>
              </form>
              {% endif %}
            </div><!--/.navbar-collapse -->
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <div class="flashes">
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">{{ message }}</div>
                  {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}
        </nav>
        {% block body %}{% endblock %}
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header info">
              <h4 class="modal-title" id="exampleModalLabel">Welcome</h4>
            </div>
            <div class="modal-body">
              <p>Welcome to the fossil finder. Please login with code <strong>d3to2</strong> above on the left and click "Sign in" (no username or password required), or click "Signup".</p>
              <p>Click and drag on the image to create a new tag. Then select its category on the right-hand panel. Scroll to zoom. Use the buttons at the bottom of the right-hand panel to move on to a new image.</p>
              <p>To redisplay this message, just reload the page</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          $('.modal').modal('show');
        });
      </script>
    </body>
</html>
