{% extends "layout.html" %}
{% block body %}
<div id="app" class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Reset Password</div>
                <div class="panel-body">
                    <form action="/reset_password" method="POST">
                        {% if step == 1 %}
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="email"/>
                        </div>
                        {% elif step == 2 %}
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="password" name="password" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="confirm password" name="confirm_password" />
                        </div>
                        <input type="hidden" value="{{token}}" name="token" />
                        {% endif %}
                        <input type="hidden" name="_csrf_token" value="{{csrf_token()}}" />
                        <button class="btn btn-default" type="submit">submit</submit>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
