<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="<%= tab === 'users' ? 'active' : '' %>"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
        <li role="presentation" class="<%= tab === 'refs' ? 'active' : '' %>"><a href="#refs" aria-controls="refs" role="tab" data-toggle="tab">Refs</a></li>
        <li role="presentation" class="<%= tab === 'categories' ? 'active' : '' %>"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane <%= tab === 'users' ? 'active' : '' %>" id="users">
            <h1>Users (<%= users.length %>)</h1>
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Auth Level</th>
                    <th>Verified</th>
                    <th>Group Name</th>
                    <th>Group Code</th>
                    <th>Active</th>
                    <th>Activate/Deactivate</th>
                    <th>Change Group Name</th>
                    <th>Generate Group Code</th>
                </thead>
                <tbody>
                    <% users.each(function (user) { %>
                    <tr data-collection-name="users" data-model-id="<%= user.id %>">
                        <td><%= user.id %></td>
                        <td><%= user.get('email') %></td>
                        <td>
                            <select name="auth-level">
                                <% var levels = { 1: '1 - Basic User', 2: '2 - Expert User', 3: '3 - Admin User' } %>
                                <% for (var i in levels) { %>
                                <option value="<%= i %>" <%= user.get('auth_level') == i ? 'selected' : '' %>><%= levels[i] %></option>
                                <% } %>
                            </select>
                        </td>
                        <td><%= user.get('verified') %></td>
                        <td><%= user.get('group_name') %></td>
                        <td><%= user.get('group_code') %></td>
                        <td><%= user.get('active') %></td>
                        <% if (user.get('active')) { %>
                        <td><button class="btn btn-danger" data-function="deactivateUser">Deactivate</td>
                        <% } else { %>
                        <td><button class="btn btn-primary" data-function="activateUser">Activate</td>
                        <% } %>
                        <td><button class="btn btn-primary" data-function="changeGroupName">Change</td>
                        <td><button class="btn btn-primary" data-function="generateGroupCode">Generate</td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane <%= tab === 'refs' ? 'active' : '' %>" id="refs">
            <h1>Refs (<%= refs.length %>)</h1>
            <table class="table table-striped">
                <thead>
                    <th>Image Path</th>
                    <th>Ref Path</th>
                    <th>Last Accessed User Id</th>
                    <th>Last Accessed Date/Time</th>
                    <th>Completed By Id</th>
                    <th>Failed to Load</th>
                    <th>Number of Tags</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% refs.each(function (ref) { %>
                    <tr data-collection-name="refs" data-model-id="<%= ref.id %>">
                        <% var path = ref.get('img') && ref.get('img').href %>
                        <td><a href="<%= path %>" target="_blank"><%= path %></a></td>
                        <td><a href="/finder/<%= ref.id %>">/finder/<%= ref.id %></a></td>
                        <td><%= ref.get('last_accessed_user_id') %></td>
                        <td><%= ref.get('last_accessed_date_time') %></td>
                        <td><%= ref.get('completed_by_user_id') %></td>
                        <td><%= ref.get('failed_to_load') %></td>
                        <td><%= ref.get('tags') && ref.get('tags').length %></td>
                        <td><button class="btn btn-danger" data-function="deleteModel">Delete</button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane <%= tab === 'categories' ? 'active' : '' %>" id="categories">
        <h1>Categories</h1>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Filename</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% categories.each(function (cat) { %>
                    <tr data-collection-name="categories" data-model-id="<%= cat.id %>">
                        <td><%= cat.get('name') %></td>
                        <td><a target="_self" href="/static/images/<%= cat.get('filename') %>"><%= cat.get('filename') %></a></td>
                        <td><button class="btn btn-danger" data-function="deleteModel">Delete</button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <form>
                <span class="btn btn-default btn-file col-xs-4">
                    Browse <input type="file">
                </span>
                <div class="form-group col-xs-4">
                    <input class="form-control" type="text" name="name" placeholder="add a new category"/>
                </div>
                <button class="btn btn-primary" data-function="createCategory">Add Category</button>
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Group Name</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <input class="form-control" type="text" placeholder="group name" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
