<div id="zoom-wrapper">
    <span class="glyphicon glyphicon-minus unselectable" id="zoom-out" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-plus unselectable" id="zoom-in" aria-hidden="true"></span>
</div>
<h3>Tags</h3>
<table class="table table-striped table-hover">
    <tbody>
    <% tags.each(function (tag) { %>
    <tr class="<%= tag.active ? 'warning' : '' %>" data-tag-cid="<%= tag.cid %>">
            <td>
                <% var category = tag.get('category') %>
                <div class="dropdown">
                    <h3 class="panel-title dropdown-toggle" data-toggle="dropdown">category: <%= category && category.name || 'unspecified' %></h3>
                    <% if (category) { %>
                    <img class="category-image pull-left" style="margin: 3px;" src="/static/images/<%= category.filename %>" />
                    <% } %>
                    <ul class="dropdown-menu">
                        <% ff.categories.each(function (category) { %>
                        <li>
                        <a data-category-id="<%= category.id %>" data-tag-id="<%= tag.id %>"><%= category.get('name') %><br />
                            <img class="category-image" src="/static/images/<%= category.get('filename') %>" />
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="pull-right">
                    <button data-cid="<%= tag.cid %>" data-function="destroy" class="btn btn-danger">Delete</button>
                </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
<div class="control-group" id="submission-buttons">
    <button class="btn btn-success" data-function="saveComplete">Complete - Next</button>
    <button class="btn btn-warning" data-function="saveIncomplete">Incomplete - Next</button>
</div>
